.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}
.modalContent {
  padding: 25px;
  background: white;
  border-radius: 16px;
  min-width: 250px;
}
.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
input {
  margin-left: 10px;
}
