* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(49, 49, 49);
}
.App {
  width: 800px;
}
.navbar {
  height: 75px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  background: transparent;
  color: white;
}
.navbar__content {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.navbar__item {
  display: flex;
  margin-right: 50px;
}
.booking {
  margin-right: auto;
}
.logo {
  width: 60px;
  height: 60px;
}
.restaurant__img {
  width: 614.4px;
  height: 409.7px;
}
.menu {
  width: 100%;
  height: 100%;
  padding: 30px;
}
.menu img {
  width: 100%;
  height: 100%;
}
.active {
  color: white;
  text-decoration: underline white;
}
.booking {
  margin-left: auto;
  color: black;
  background: white;
  height: fit-content;
  padding: 15px;
  border: none;
  border-radius: 30px;
  margin-right: 0;
}
.menu {
  height: 100%;
}
.events {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  margin-top: 30px;
}
.event {
  display: flex;
  background: white;
  padding: 20px;
  width: 40%;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-bottom: 30px;
}
.event__content {
  padding-right: 15%;
}
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.review {
  display: flex;
  background: white;
  padding: 20px;
  width: 40%;
  flex-direction: column;
  margin-bottom: 30px;
}
.about {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
}
.about img {
  margin: 20px;
}
.feedback {
  min-height: 100vh;
  width: 100%;
  padding: 10%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 60%;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.feedback form label {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.feedback form input {
  width: 200px;
  height: 30px;
  padding: 7px;
  border: none;
}
.feedback form textarea {
  width: 60%;
  min-height: 100px;
  padding: 7px;
  resize: none;
}
.feedback p {
  color: red;
}
.ScrollToTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  cursor: pointer;
}
.ScrollToTop.enter-active {
  animation: showBtn 0.5s forwards;
}
.ScrollToTop.exit-active {
  animation: showBtn 0.5s reverse;
}
@keyframes showBtn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.auth {
  min-height: 100vh;
  width: 100%;
  padding: 10%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 60%;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.auth form label {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.auth form input {
  width: 200px;
  height: 30px;
  padding: 7px;
  border: none;
}
.auth form textarea {
  width: 60%;
  min-height: 100px;
  padding: 7px;
  resize: none;
}
.auth p {
  color: red;
}
